Declare a variable named school_name and assign the name of your school or college.
2. Declare two integer variables x and y, assign values, and print their sum.
3. Declare a float variable height and assign your height in meters.
4. Create a variable is_student and assign it a Boolean value.
5. Declare three variables a, b, c in one line with values 1, 2, and 3...

In [ ]:
school_name="career point university"

x,y= 1,2
print(x+y)

height = 163.56
print(height,"meters")

is_student = True
print(is_student)

a,b,c = 1,2,3
print(a,b,c)

3
163.56 meters
True
1 2 3

Convert the string '123' to an integer and assign it to a variable num.
7. Convert the float 9.81 to an integer and print the result.
8. Use the type() function to print the data types of: "Hello", 42, True, 3.14.
9. Declare a variable message with the value "Python is fun!". Use the len() function to
print the number of characters in it.
10. Concatenate your first name and last name with a space in between and store it in
full_name. Then print a greeting: "Hello, <full_name>!"

In [ ]:
string = int('123')
print(string)

fl= int(9.81)
print(fl)

print(type("Hello"),type(42),type(True),type(3.14))

var="Python is fun!"
print(var)
print("No of chars: ",len(var))

first_name= "Pee"
last_name= "Cee"
full_name = first_name + " " + last_name
print("Hello,",full_name)

123
9
<class 'str'> <class 'int'> <class 'bool'> <class 'float'>
Python is fun!
No of chars:  14
Hello, Pee Cee

11. Take two inputs from the user — first_name and last_name, and print "Welcome,
<first_name last_name>!".
12. Create a variable radius with value 7. Calculate the area of a circle using the formula area
= π * radius^2 and print it.
13. Ask the user to enter their birth year, calculate their age in 2025, and print: "You will be
<age> years old in 2025."
14. Create a sentence that says: "John is 25 years old, lives in New York, and is
not married." using variables.
15. Print the ASCII value of the character 'A' using ord().

In [ ]:
first_name=input("Enter first name: ")
last_name=input("Enter last name: ")
print("Welcome",first_name,last_name,"!")

radius=7
area=3.14*radius**2
print(area)

birth_year= int(input("Enter birth year: "))
age = 2025- birth_year
print("You will be",age,"years old in 2025.")

name="John"
age= 25
place="New York"
is_married = False
sentence = f"{name} is {age} years old,lives in {place},and {'is married' if is_married else 'is not married'}."
print(sentence)

print(ord('A'))


num=5
for i in range(num+1):
  print(num)

Swap values of two variables without using a third variable.
17. Use input() to get user's name and city. Print: "Nice to meet you, <name> from
<city>!" in uppercase.
18. Write a program that takes the side of a square from the user and prints its area and perimeter.
19. Create a variable sentence = "Python is powerful" and reverse it using slicing.
20. Use a built-in function to count how many times the letter 'a' appears in "I am a data
analyst".

In [ ]:
x,y=5,10
x,y=y,x
print(x,y)

user_name= input("Enter your name: ")
city=input("Enter your city: ")
print(f"Nice to meet you{user_name.upper()} from {city.upper()} !")

side= int(input("Enter side: "))
area = side*side
perimeter= 4*side
print("Area: ",area)
print("Perimeter", perimeter)

sentence = "Python is powerful"
print(sentence[::-1])

string = "I am a data analyst"
print(string.count('a'))

10 5
Enter your name: pee
Enter your city: New york
Nice to meet youPEE from NEW YORK !
Enter side: 20
Area:  400
Perimeter 80
lufrewop si nohtyP
6

In [ ]:
s= "ABCdJ23938Dd92C81"
num= 0
ans= 0
for i in range(len(s)):
  if s[i] in "1234567890":
    num= (num*10)+ int(s[i])
  else:
    ans+=num
    num=0

ans+=num


print(ans)

24111

In [ ]:
li = [28,"AC","g","h","KM","IPL","RCB"]
add=0

for i in li:
  if isinstance(i, int):
    add += i
  elif i.isupper():
    local_add = 0
    for j in i:
      local_add += ord(j) - 64
    add += local_add

print(add)

116

In [ ]:
ord('R')-64
coord("R")

18

In [ ]:
LI=[15,9,3,5,10,12,6,7]
# NO NEW LIST/ O(n)/ NO nested loops/ NO sorting
max1, max2, max3= 0,0,0

for i in LI:
  if i> max1:
    max3= max2
    max2= max1
    max1= i

  elif i> max2:
    max3= max2
    max2= i

  elif i> max3:
    max3= i

print(max1, max2, max3)

15 12 10

In [ ]:
string = "madam"
string1= "racecar"
string2= "Amaan"

if string2 == string2[::-1]:
  print("Palindrome!")
else:
  print("Not palindrome")

Not palindrome

In [ ]:
# if consecutive
li=[1,2,4,3,5]
li2=[18,20,19,21,22,28]
start= min(li2)

for i in li2:
  if i != start:
    print(i)
  start +=1

20
19
28

In [ ]:
li= [5,1,2,2,4,10]
n= 10
for i in range(1,n+1):
  if i not in li:
    print(i)

3
6
7
8
9

In [ ]:
# sqrt
num= 1211
# print(int(num**(0.5)))
for i in range(2,num//2):
  if i*i >num:
    print(i-1)
    break
  elif i*i == num:
    print(i)
    break

34

In [ ]:
# count output:mismatch
s="1334324454"
for i in s:
  if s.count(i) != int(i):
    print(i)

2
5