In [ ]:
1. üÜï Declare an empty list ‚û°Ô∏è []
2. üõç Declare a list with more than 5 items üçéüçåüçáüçìüççüçâ
3. üìè Find the length of your list üî¢
4. üîç Get the first, middle, and last item of the list üéØ
5. üë• Declare a list called mixed_data_types, put your (name, age,
height, marital status, address) üßëüìÖüìèüíçüè°
6. üè¢ Declare a list variable named it_companies and assign initial values:
"Facebook, Google, Microsoft, Apple, IBM, Oracle,
Amazon"

7. üñ® Print the list using print() üßæ
8. üßÆ Print the number of companies in the list üî¢
9. ü•á Print the first, üéØ middle, and üèÅ last company
10. ‚úèÔ∏è Print the list after modifying one of the companies üõ†
11. ‚ûï Add an IT company to it_companies üèó
12. ‚ûï Insert an IT company in the middle of the list üéØ

13. üî† Change one company name to uppercase (üö´ IBM!)
14. üîó Join the it_companies with a string ' #; ' üßµ
15. ‚ùì Check if a certain company exists in the it_companies list üîç
16. üîÉ Sort the list using the sort() method üßπ
17. üîÅ Reverse the list in descending order using reverse() üîÑ
18. ‚úÇÔ∏è Slice out the first 3 companies from the list üé¨
19. ‚úÇÔ∏è Slice out the last 3 companies from the list üé¨
20. üéØ Slice out the middle IT company or companies
21. üßΩ Remove the first IT company from the list
22. üßΩ Remove the middle IT company or companies
23. üßΩ Remove the last IT company from the list
24. üí£ Remove all IT companies from the list üßº
25. üß® Destroy the it_companies list completely üí•

üß™ Bonus: Merge the Front & Back! üöÄ
26. üß¨ Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

Career Point University, Kota - 324 009 | www.cpur.in | Page No : 2

27. üß† After joining, copy the result and assign it to full_stack üíæ
28. üêç Insert Python and SQL after Redux in the full_stack list üß©

In [ ]:
li=list()

In [ ]:
li1=[1,2,3,4,5]
print(len(li1))

5

In [ ]:
print(li1[0])
middle = len(li1)//2
print(li1[middle])
print(li1[-1])

1
3
5

In [ ]:
mixed_data_types=['Jahnvi', 19,170, 'single', 'NewYork')

In [ ]:
it_companies ="Facebook,Google,Microsoft,Apple,IBM,Oracle,Amazon".split(',')
output= list()
for i in it_companies:
    output.append(i[0])

output

['F', 'G', 'M', 'A', 'I', 'O', 'A']

In [ ]:
print(output)

['F', 'G', 'M', 'A', 'I', 'O', 'A']

In [ ]:
print(len(it_companies))

7

In [ ]:
middle = len(it_companies)//2
print(it_companies[0])
print(it_companies[middle])
print(it_companies[-1])

Facebook
Apple
Amazon

In [ ]:
it_companies[5]='Meta'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Meta', 'Amazon']

In [ ]:
it_companies.insert(middle,'Infosys')
print(it_companies)
print(middle)

['Facebook', 'Google', 'Microsoft', 'Infosys', 'Apple', 'IBM', 'Meta', 'Amazon']
3

In [ ]:
print(it_companies[0].upper())

FACEBOOK

In [ ]:
print('#;'.join(it_companies))

Facebook#;Google#;Microsoft#;Infosys#;Apple#;IBM#;Meta#;Amazon

In [ ]:
it_companies.sort()
print(it_companies)

In [ ]:
it_companies.sort(reverse=True)
print(it_companies)

['Microsoft', 'Meta', 'Infosys', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [ ]:
it_companies[:3]

['Microsoft', 'Meta', 'Infosys']

In [ ]:
it_companies[-3:]

['Facebook', 'Apple', 'Amazon']

In [ ]:
it_companies[middle]

'IBM'

In [ ]:
it_companies.remove(it_companies[0])
it_companies.remove(it_companies[middle])
it_companies.remove(it_companies[-1])

In [ ]:
it_companies.clear()

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
full_stack=front_end.copy()
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
i=0
while i<len(full_stack):
    if full_stack[i]=='Redux':
        full_stack.insert(i+1,'Python')
        full_stack.insert(i+2,'SQL')
        break
    i+=1
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [ ]:
# if len(list) is even
li=[1,2,3,4]
middle=len(li)//2
print(li[middle])
# if len(list) is odd
li=[1,2,3,4,5]
middle=len(li)//2
print(li[middle])

3
3

In [ ]:
Input=[2,-1,3,4,5,8,9]
given_sum=7

for i in range(len(Input)):
    for j in range(i+1,len(Input)):
        if Input[i]+Input[j]==given_sum:
            print(i,j)

0 4
1 5
2 3

In [ ]:
Input.sort()
print(Input)
first=0
last=len(Input)-1

while first<last:
  if Input[first]+Input[last] == given_sum:
    print(first,last)
    first+=1
    last-=1

  elif Input[first]+Input[last] > given_sum:
    last-=1

  else:
    first+=1

[-1, 2, 3, 4, 5, 8, 9]
0 5
1 4
2 3

In [ ]:
def binary_search(n):
  first=2
  last= 100

  while first <= last:
    mid= (first+last)//2
    if mid*mid ==Input:
       return mid

    elif mid*mid >Input:
      last=mid-1
    else:
      first=mid+1

  return mid


# find sqrt in O(n)
Input = 144
binary_search(Input)

12