In [ ]:
1. 🆕 Declare an empty list ➡️ []
2. 🛍 Declare a list with more than 5 items 🍎🍌🍇🍓🍍🍉
3. 📏 Find the length of your list 🔢
4. 🔍 Get the first, middle, and last item of the list 🎯
5. 👥 Declare a list called mixed_data_types, put your (name, age,
height, marital status, address) 🧑📅📏💍🏡
6. 🏢 Declare a list variable named it_companies and assign initial values:
"Facebook, Google, Microsoft, Apple, IBM, Oracle,
Amazon"

7. 🖨 Print the list using print() 🧾
8. 🧮 Print the number of companies in the list 🔢
9. 🥇 Print the first, 🎯 middle, and 🏁 last company
10. ✏️ Print the list after modifying one of the companies 🛠
11. ➕ Add an IT company to it_companies 🏗
12. ➕ Insert an IT company in the middle of the list 🎯

13. 🔠 Change one company name to uppercase (🚫 IBM!)
14. 🔗 Join the it_companies with a string ' #; ' 🧵
15. ❓ Check if a certain company exists in the it_companies list 🔍
16. 🔃 Sort the list using the sort() method 🧹
17. 🔁 Reverse the list in descending order using reverse() 🔄
18. ✂️ Slice out the first 3 companies from the list 🎬
19. ✂️ Slice out the last 3 companies from the list 🎬
20. 🎯 Slice out the middle IT company or companies
21. 🧽 Remove the first IT company from the list
22. 🧽 Remove the middle IT company or companies
23. 🧽 Remove the last IT company from the list
24. 💣 Remove all IT companies from the list 🧼
25. 🧨 Destroy the it_companies list completely 💥

🧪 Bonus: Merge the Front & Back! 🚀
26. 🧬 Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

Career Point University, Kota - 324 009 | www.cpur.in | Page No : 2

27. 🧠 After joining, copy the result and assign it to full_stack 💾
28. 🐍 Insert Python and SQL after Redux in the full_stack list 🧩

In [ ]:
li=list()

In [ ]:
li1=[1,2,3,4,5]
print(len(li1))

5

In [ ]:
print(li1[0])
middle = len(li1)//2
print(li1[middle])
print(li1[-1])

1
3
5

In [ ]:
mixed_data_types=['Jahnvi', 19,170, 'single', 'NewYork')

In [ ]:
it_companies ="Facebook,Google,Microsoft,Apple,IBM,Oracle,Amazon".split(',')
output= list()
for i in it_companies:
    output.append(i[0])

output

['F', 'G', 'M', 'A', 'I', 'O', 'A']

In [ ]:
print(output)

['F', 'G', 'M', 'A', 'I', 'O', 'A']

In [ ]:
print(len(it_companies))

7

In [ ]:
middle = len(it_companies)//2
print(it_companies[0])
print(it_companies[middle])
print(it_companies[-1])

Facebook
Apple
Amazon

In [ ]:
it_companies[5]='Meta'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Meta', 'Amazon']

In [ ]:
it_companies.insert(middle,'Infosys')
print(it_companies)
print(middle)

['Facebook', 'Google', 'Microsoft', 'Infosys', 'Apple', 'IBM', 'Meta', 'Amazon']
3

In [ ]:
print(it_companies[0].upper())

FACEBOOK

In [ ]:
print('#;'.join(it_companies))

Facebook#;Google#;Microsoft#;Infosys#;Apple#;IBM#;Meta#;Amazon

In [ ]:
it_companies.sort()
print(it_companies)

In [ ]:
it_companies.sort(reverse=True)
print(it_companies)

['Microsoft', 'Meta', 'Infosys', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [ ]:
it_companies[:3]

['Microsoft', 'Meta', 'Infosys']

In [ ]:
it_companies[-3:]

['Facebook', 'Apple', 'Amazon']

In [ ]:
it_companies[middle]

'IBM'

In [ ]:
it_companies.remove(it_companies[0])
it_companies.remove(it_companies[middle])
it_companies.remove(it_companies[-1])

In [ ]:
it_companies.clear()

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
full_stack=front_end.copy()
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
i=0
while i<len(full_stack):
    if full_stack[i]=='Redux':
        full_stack.insert(i+1,'Python')
        full_stack.insert(i+2,'SQL')
        break
    i+=1
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [ ]:
# if len(list) is even
li=[1,2,3,4]
middle=len(li)//2
print(li[middle])
# if len(list) is odd
li=[1,2,3,4,5]
middle=len(li)//2
print(li[middle])

3
3

In [ ]:
Input=[2,-1,3,4,5,8,9]
given_sum=7

for i in range(len(Input)):
    for j in range(i+1,len(Input)):
        if Input[i]+Input[j]==given_sum:
            print(i,j)

0 4
1 5
2 3

In [ ]:
Input.sort()
print(Input)
first=0
last=len(Input)-1

while first<last:
  if Input[first]+Input[last] == given_sum:
    print(first,last)
    first+=1
    last-=1

  elif Input[first]+Input[last] > given_sum:
    last-=1

  else:
    first+=1

[-1, 2, 3, 4, 5, 8, 9]
0 5
1 4
2 3

In [ ]:
def binary_search(n):
  first=2
  last= 100

  while first <= last:
    mid= (first+last)//2
    if mid*mid ==Input:
       return mid

    elif mid*mid >Input:
      last=mid-1
    else:
      first=mid+1

  return mid


# find sqrt in O(n)
Input = 144
binary_search(Input)

12