Create a variable team_name and assign your favorite IPL team name. Then create a
variable wins and assign how many matches they won. Print a sentence like:

"Chennai Super Kings have won 10 matches this season!"

In [ ]:
team_name = "Punjab Kings"
wins = 9
print(f'{team_name} have won {wins} matches this season!')

Punjab Kings have won 9 matches this season!

Create variables for runs scored in 3 matches by a player: match1, match2, match3.
Calculate total and average runs and print:

"Virat Kohli scored a total of 210 runs with an average of 70.0".

In [ ]:
match1= 50
match2= 87
match3= 76
total= match1+match2+match3
average= total/3
print(f'Shreyas Iyer scored a total of {total} runs with an average of {average}.')

Shreyas Iyer scored a total of 213 runs with an average of 71.0.

ðŸ“Š Declare a string variable top_scorer = 'Shubman Gill' and print the number of
characters in his name using len().

In [ ]:
top_scorer = 'Shubman Gill'
print("No. of characters:", len(top_scorer))

No. of characters: 12

Use format() or f-strings to display this line:

"In today's match, {player} hit {fours} fours and {sixes} sixes!"

In [ ]:
player = 'Virat Kohli'
fours = 7
sixes = 3
print(f"In today's match, {player} hit {fours} fours and {sixes} sixes!")

In today's match, Virat Kohli hit 7 fours and 3 sixes!

Ask user to input the name of two IPL teams and swap them without using a third
variable. Print swapped values.

In [ ]:
Ipl_1 = input("First IPL team:")
Ipl_2 = input("Second IPL team:")
Ipl_1, Ipl_2 = Ipl_2, Ipl_1
print("First team:", Ipl_1)
print("Second team:", Ipl_2)

First IPL team:rcb
Second IPL team:pbks
First team: pbks
Second team: rcb

Create a variable speed_of_light = 299792458 (in m/s) and calculate how far light
travels in 5 seconds. Print the distance.

In [ ]:
speed_of_light = 299792458
time = 5
distance= speed_of_light * time
print("Distance:",distance)

distance: 1498962290

Create a variable charge = -1.6e-19 and use type() to print its data type. Then
convert it to a string and print its type again.

In [ ]:
variable_charge = -1.6e-19
print(type(variable_charge))
variable_charge = str(variable_charge)
print(type(variable_charge))

<class 'float'>
<class 'str'>

Let atom_name = "Oxygen" and atomic_number = 8. Create a sentence like:

"Oxygen has atomic number 8 and is essential for life."

In [ ]:
atom_name = "Oxygen"
atomic_number = 8
print(f'{atom_name} has atomic number {atomic_number} and is essential for life.')

Oxygen has atomic number 8 and is essential for life.

ðŸ¤– Assign your favorite tech company to a variable company and use upper() to print it
in uppercase.

In [ ]:
company='google'
print(company.upper())

GOOGLE

10. ðŸ“± Ask user to input the name of a gadget (like 'iPhone 15'), use len() to count
characters and print the result.

In [ ]:
gadget = 'Macbook'
result = len(gadget)
print(result)

7

Create a variable side = 6 and compute the area and perimeter of a square. Print
the result.

In [ ]:
side = 6
area = side*side
perimeter= 4*side
print("Area:",area)
print("Perimeter:",perimeter)

Area: 36
Perimeter: 24

Create a variable base = 10, height = 5 and calculate the area of a triangle.

In [ ]:
base = 10
height = 5
area = 0.5*base*height
print("Area:",area)

Area: 25.0

Create a variable mass = 60 and gravity = 9.8. Compute the weight (mass Ã—
gravity) and print in Newtons.

In [ ]:
mass = 60
gravity = 9.8
weight = mass * gravity
print("Weight:",weight,"newtons")

Weight: 588.0 newtons

Use round() to round Ï€ = 3.14159 to 2 decimal places and print it.

In [ ]:
pie = 3.14159
print("Pie:",round(pie,2))

Pie: 3.14

Use pow(base, exponent) to calculate 2^8 and print:

"2 raised to the power 8 is 256"

In [ ]:
base = 2
exponent = 8
result = pow(base,exponent)
print(f"{base} raised to the power {exponent} is {result}")

2 raised to the power 8 is 256

Ask the user for their internet speed in Mbps. Convert it to MBps (Megabytes per
second) by dividing by 8 and print the result.

In [ ]:
speed=int(input("Enter your internet speed in Mbps: "))
MBps= speed/8
print("Result:",MBps)

Enter your internet speed in Mbps: 64
Result: 8.0

Ask the user for their password input and print the number of characters using
len(), but hide the actual password in the output.

In [ ]:
password = input("Enter your password: ")
print("Number of characters:",len(password))
print("*" * len(password))

Enter your password: 2345
Number of characters: 4
****

Declare a variable game_name = "Minecraft", and use slicing to print only the first
4 letters.

In [ ]:
game_name = "Minecraft"
print(game_name[:4])

Mine

Create 3 variables: math = 92, science = 85, english = 88. Calculate total and
average marks and print the percentage.

In [ ]:
math = 92
science = 85
english = 88
total = math + science + english
avg = total/3
percentage = (total/300)*100
print("percentage:",percentage)

percentage: 88.33333333333333

Ask the user to enter their name and favorite subject. Use .capitalize() to neatly
format and print:

"Hi Rahul! It's great to know you love Physics."

In [ ]:
name= input("Enter your name: ")
subject= input("Enter your favorite subject: ")
print(f"Hi {name.capitalize()}! It's great to know you love {subject.capitalize()}")

Enter your name: georgia
Enter your favorite subject: literature
Hi Georgia! It's great to know you love Literature